*.iml
/VideoStreamAndroid/.gradle
/VideoStreamAndroid/local.properties
/VideoStreamAndroid/.idea/workspace.xml
/VideoStreamAndroid/.idea/libraries
/VideoStreamAndroid/build
/VideoStreamDesktop/dist
/VideoStreamDesktop/nbproject/private
/VideoStreamDesktop/build
/VideoStreamReceiverDesktop/nbproject/private/
/VideoStreamReceiverDesktop/build/